<ion-list color="dark" >

  <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada">
    <ion-item  detail color="dark" (click)="listaSeleccionada(lista)">
      <ion-label> {{ lista.titulo }}</ion-label>
      <ion-note slot="end"> {{lista.items.length}} </ion-note>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option (click)="editarLista(lista)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option (click)="borrarLista(lista)"
                        color = "danger">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>


</ion-list>